:root {
    --black: #10111d;
    --darkgray: #242531;
    --lightgray: #303142;
    --pink: rgb(255, 130, 234);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    font-style: normal;
    text-decoration: none;
    outline: none;
}

a { color: inherit; } 


/* --------- Header --------- */
.header-header {
    margin-top: 10px;
    width: 100vw;
    max-width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 2;
}
.header-logo {
    width: 200px;
    height: 75px;
    background-color: #00000000;
    background-image: url("../assets/logo.png");
    transition: 200ms ease;
}
.header-logo:hover { transform: scale(1.05); }
.header-headerButtons {
    display: flex;
    list-style: none;
}
.header-headerButtons li a{
    font-size: 16px;
    font-weight: 700;
    line-height: 12px;
    margin: 0px 8px;
    padding: 12px 16px;
}
.header-headerButtons a:not(.header-heartdroidsButton){ color: rgb(255, 130, 234); }
.header-headerButtons li, .dropbtn { transition: 100ms ease; }
.header-headerButtons li:hover { transform: scale(1.02); }
.header-heartdroidsButton {
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    background: rgb(255, 130, 234);
    color: white;
    border-radius: 30px;
    transition: 200ms ease;
}
.header-dropbtn {
  background-color: #00000000;
  color: rgb(255, 130, 234);
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 12px;
  margin: 0px 8px;
  padding: 16px 16px;
  transform: translateY(-12px);
  cursor: pointer;
}
.header-dropbtn:hover { transform: translateY(-12px) scale(1.02); }
.header-dropdown {
  position: relative;
  display: inline-block;
}
.header-dropdown-content {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: var(--darkgray);
  min-width: 160px;
  z-index: 1;
  border-radius: 16px;
  overflow: hidden;
  transform: translateX(-36px);
}
.header-dropdown-content a {
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-align: center;
}
.header-dropdown-content a:hover {background-color: var(--lightgray);}
.header-dropdown:hover .header-dropdown-content {display: flex;}

/* ------- Heartdroids ------- */
.heartdroids {
    height: 100vh;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heartdroidsGrid { display: flex; }
.heartdroid {
    margin: 10px;
    border-radius: 20px;
    transition: 100ms ease;
    cursor: pointer;
}
.heartdroid:hover { transform: scale(1.02); }
.heartdroid img{
    width: auto;
    height: 200px;
    border: 4px dotted #ccc;
    border-radius: 16px;
}
.heartdroidTitle { display: flex; }
.heartdroidName {
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
}
.heartdroidSerial {
    border-radius: 0px 0px 8px 0px;
    margin-top: 4px;
    color: #9b9b9b;
}
.rarityButtons {
    display: flex;
    width: 100vw;
    margin: 100px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
}
.rarityButtons button {
    width: 80px;
    height: 40px;
    font-size: 16px;
    font-weight: 900;
    background-color: var(--pink);
    border-radius: 16px;
    border: none;
    color: white;
    text-transform: uppercase;
    margin: 0px 6px 0px 6px;
    cursor: pointer;
    transition: 100ms ease;
    outline: none;
}
.rarityButtons button:hover { transform: scale(1.05); }
.rarityButtons button:active { background-color: #10111d; }
.rarityButtonLine {
    width: 2px;
    height: 32px;
    margin: 0px 6px 0px 6px;
    background-color: rgb(219, 219, 219);
}