* {
    padding: 0;
    margin: 0;
}

body {
    background:#242531;
}


#nav {
    position: absolute;
}

.navBackground {
    display: flex;
    align-items: left;
    flex-direction: column;
    /* padding: 0 2rem 0 2rem; */
    background: #242531;
    left: 0;
    width: 12rem;
    height: 100vh;
    position: fixed;
}

.navLogo {
    min-height: 40px;
    width: inherit;
    background-image: url("logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 1rem 0px 1rem 2rem;
    transition: 200ms ease;
}

.navLogo:hover {
    transform: scale(1.05);
}

.navLogo:active {
    transform: scale(1.00);

}

.navCategory {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #686B8D;
    user-select: none;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 2rem;
}

.navPlaces {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.navPlace {
    width: calc(256px - 4rem);
    text-decoration: none;
    text-transform: capitalize;
    color: #686B8D;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 10px 2rem 10px 2rem;
    transition: color ease 200ms;
    display: flex;
    justify-content: space-between;
}

.navPlace p {
    width: 155px;
    text-align: left;
}

.navPlace:hover {
    color: #d0d4ff;
    background: #2c2c3b;
}

a.router-link-active.router-link-exact-active.navPlace {
    color: #ffffff;
}

.appNotification {
    display: flex;
    justify-content: center;
    position: absolute;
    right: -34px;
    color: white;
    background: #dd0e61;
    border-radius: 2px;
    font-size: 11px;
    font-weight: 700;
    padding: 1px 2px;
    width: fit-content;
    height: fit-content;
    min-width: 22px;
    box-shadow: 0px 0px 10px #dd0e61;
}

.navicon {
    width: 22px;
    height: auto;
    background-repeat: no-repeat;
    transition: color ease 200ms;
    background-color: #686B8D;
    background-repeat: no-repeat;
    mask-repeat: no-repeat;
}


/* Icons for the nav buttons */
.homeicon {
    -webkit-mask-image: url(svg/home.svg);
    mask-image: url(svg/home.svg);
    mask-position: center;
}

.arrowDown {
    -webkit-mask-image: url(svg/arrowDown.svg);
    mask-image: url(svg/arrowDown.svg);
    transform: translateX(5.5px);
}

.instagram {
    -webkit-mask-image: url(svg/instagram.svg);
    mask-image: url(svg/instagram.svg);
}

.soundcloud {
    -webkit-mask-image: url(svg/soundcloud.svg);
    mask-image: url(svg/soundcloud.svg);
}

.twitter {
    -webkit-mask-image: url(svg/twitter.svg);
    mask-image: url(svg/twitter.svg);
}

.youtube {
    -webkit-mask-image: url(svg/youtube.svg);
    mask-image: url(svg/youtube.svg);
}

.deviantart {
    -webkit-mask-image: url(svg/deviantart.svg);
    mask-image: url(svg/deviantart.svg);
}

.twitch {
    -webkit-mask-image: url(svg/twitch.svg);
    mask-image: url(svg/twitch.svg);
}

.tiktok {
    -webkit-mask-image: url(svg/tiktok.svg);
    mask-image: url(svg/tiktok.svg);
}

.spotify {
    -webkit-mask-image: url(svg/spotify.svg);
    mask-image: url(svg/spotify.svg);
}

.api {
    -webkit-mask-image: url(svg/api.svg);
    mask-image: url(svg/api.svg);
}

.github {
    -webkit-mask-image: url(svg/github.svg);
    mask-image: url(svg/github.svg);
}

/* Home */
.view {
    margin-left: calc(12rem + 4rem);
    margin-top: 20px;
    background: #ffffff;
    border-radius: 8px 0px 0px 0px;
    height: calc(100vh - 20px);
}
